/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.img-fluid {
  width: 100%;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 22px;
  border: 0;
  cursor: pointer;
}

/* main styles  */
main {
  max-width: 80%;
  margin: 0 auto;
}

/* section styles */
section {
  margin: 90px 0;
}
/* header styles  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 30px 132px;
}
.brand-name {
  color: #131313;
  font-size: 1.8rem;
  font-weight: 700;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > #menu {
  position: relative;
  display: flex;
  gap: 50px;
}
#menu li a {
  color: #424242;
  font-size: 1.1rem;
  font-weight: 500;
}

/* banner styles  */
.banner {
}
.banner-content {
  max-width: 860px;
  margin: 90px auto 50px;
  text-align: center;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 17px 0 30px;
}

.mobile-menu {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* team styles  */
#team-container {
  display: flex;
  align-items: center;
  /* gap: 60px; */
  justify-content: space-evenly;
}
.team-item:first-child {
  flex-basis: 50%;
}
.team-item:last-child {
  flex-basis: 45%;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.teams-content {
  padding: 0 50px;
}
.teams-title {
  color: #727272;
  font-size: 2.6rem;
  font-weight: 500;
}
.our {
  color: #131313;
  font-weight: 700;
}
.text-feature {
  color: #ff900e;
  font-weight: 700;
}
.teams-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 20px 0;
}
/* features section styles */
/* facts section styles */

.section-container {
  width: 50%;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.section-desription {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 20px 0;
}
.facts-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* justify-content: center; */
  text-align: center;
  gap: 4rem;
  margin: 80px 0;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 40px;
}
.card-stats {
  color: v #424242;
  font-size: 2rem;
  font-weight: 600;
  margin: 5px 0;
}
.card-title {
  color: #727272;
  font-size: 1rem;
  font-weight: 600;
}

/* sponsors section styles */
#sponsors .section-container {
  margin: auto;
  text-align: center;
}
.sponsors-img-container {
  margin: 50px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsors-img-container img {
  width: 120px;
  filter: saturate(0%);
}
/* Responsive Design  */

@media (max-width: 992px) {
  header {
    padding: 30px 40px;
  }
  nav > #menu {
    position: fixed;
    width: 100%;
    flex-direction: column;
    /* margin: 70px 0; */
    padding: 60px 0;
    align-items: center;
    background: #000;
    top: 0;
    height: 100%;
    left: -999px;
    z-index: 999;
  }
  .banner-content {
    margin: 40px 0;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu:hover nav > #menu {
    left: 0 !important;
  }
  /* team features  */
  #team-container {
    align-items: flex-start;
    gap: 60px;
    justify-content: center;
    flex-direction: column;
  }
  .team-item {
    width: 100%;
  }
  .teams-content {
    padding: 0 0;
  }
  .section-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  section {
    margin: 50px 0;
  }
  .sponsors-img-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
}

@media (max-width: 576px) {
  header {
    padding: 30px 40px;
  }
  .brand-name {
    font-size: 1.3rem;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-content {
    text-align: left;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-title {
    font-size: 2rem;
  }
  .facts-card-container {
    gap: 2rem;
    margin: 50px 0;
  }
  .section-title {
    font-size: 2rem;
  }
}
